* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #233645;
  color: #f2f5fa;
  padding: 2rem 3rem 0 2rem;
}

.logo {
  font-family: "Courier New", Courier, monospace;
  color: #fb8d5a;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: -2px;
  padding: 1.5rem;
}

.menu--list {
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 0.5rem;
  display: none;
}

li {
  padding: 1.5rem;
}

.sobre {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 2.5rem;
  padding: 2.75rem 0rem;
}

#group {
  width: 80%;
  display: inline-block;
  align-self: center;
}
.slogan--title{
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

.slogan {
  padding: 2.75rem 0rem;
  font-size: 1.5rem;
  align-self: center;
}

h2 {
  font-family: "DM Sans", sans-serif;
  padding: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.saiba-mais {
  border-radius: 10px;
  background-color: #39b3c2;
  border: none;
  text-align: center;
  padding: 0.8rem 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #233645;
  align-self: center;
}

.historia--blob {
  background-image: url("assets/img/Vector.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.ceo--historia {
  font-weight: bold;
  line-height: 1.4rem;
  padding: 2.25rem;
}
.ceo--historia--desktop {
  display: none;
}

#ceoimage {
  width: 25%;
  border-radius: 20px;
  align-self: center;
}

.atividades {
  white-space: nowrap;
}

.servicos--container {
  background-color: #39b3c2;
  padding: 1.5rem;
  margin-right: 1rem;
  border-radius: 10px;
}

.servicos--ul {
  color: #233645;
  width: 100%;
}
#servicos {
  display: none;
}

.list--servicos {
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 400;
}
.cards {
  padding: 1.5rem;
  font-size: 0.835rem;
  word-spacing: 2px;
  line-height: 1.6;
}

.avaliacao1 {
  background-color: #f2f5fa;
  display: flex;
  flex-direction: column;
  color: #233645;
  padding: 1.5rem;
  border-radius: 10px;
  border-left: #fb8d5a;
  border-left-width: 2px;
}
.avaliacao-perfil {
  width:30%;
  align-self: center;
  border-radius: 10px;
}

.avaliacao2,
.avaliacao3,
.avaliacao4,
.avaliacao5 {
  display: none;
}

form{
  padding:2rem 0;
  display:flex;
  flex-direction: column;
}
input{
  width:100%;
  padding:1.15rem 0;
  font-size: 1.15rem;
  display: inline-block;
  border-radius: 10px;
  margin:1.15rem 0;
  border: none;
  background-color: #f2f5fa;
}
.contato--label {
  font-size: 0.8rem;
  align-self: flex-start;
} 
.contato{
  border-radius: 10px;
  background-color:#fb8d5a;
  border: none;
  text-align: center;
  padding: 0.8rem 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color:#f2f5fa;
  align-self: center;
}
footer{
  background-color: #1e2022;
  padding: 4rem;
  margin-left:-3rem;
  margin-right: -3rem;
  text-align: center;
  font-size:small;
  color: darkgrey;
}


@media (min-width: 480px) {
  header {
    justify-content: space-between;
    margin:3rem 0 5rem 0;
  }
  #ceoimage {
    width: 10%;
    border-radius: 10px;
  }

  header, nav,
  .menu--list,
  .sobre,
  .servicos--container,
  .img {
    display: flex;
  }
  li {
    font-size: 1.5rem;
  }
  .icon {
    display: none;
    visibility: hidden;
  }
  main {
    margin-top: 4rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2{
    font-size: 2rem;
  }
  section {
    padding: 3rem 0;
  }
  .sobre {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 4rem 0;
  }
  .img {
    flex-direction: column;
    justify-content: space-around;
  }
  #group {
    width: 50%;
  }
  .saiba-mais {
    margin: 1.5rem;
  }
  .quem--somos {
    text-align: center;
  }
  .historia--blob {
    margin: 1.5rem 6rem;
    padding: 1.5rem;
  }
  .ceo--historia {
    display: none;
  }

  .ceo--historia--desktop {
    display: inline-block;
    padding: 6rem;  
    font-size: 1.5rem;
    line-height: 2.25rem;

  }
  .servicos--ul {
    color: #233645;
    background-color: #39b3c2;
    width: 100%;
    border-radius: 10px;
    padding: 1.5rem;
    margin: 1.5rem;
  }
  .list--servicos{
    font-size: 1.5rem;
  }
  .servicos--container {
    background-color: #233645;
    flex-direction: row;
  }
  #servicos {
    display: inline-block;
    width: 40%;
  }

  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .avaliacao1,
  .avaliacao2,
  .avaliacao3,
  .avaliacao4 {
    background-color: #f2f5fa;
    margin: 0.8rem;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    color: #233645;
    padding: 1.5rem;
    border-radius: 10px;
    border-left: #fb8d5a;
    border-left-width: 2px;
  }
  .contato--label{
    font-size: 1.5rem;
    align-self: center;
  }
  form{
    align-items: center;
  }
  input{
    width: 60%;
  }

}


@media screen and (max-width: 912px) {
  .card {
    flex-wrap: wrap;
  }
  #servicos {
    display: none;
    width: 40%;
  }
}
